@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, *::after, *::before {
  box-sizing: border-box;
  outline: 1px solid green;
}
body{
  font-family: Roboto, 'Noto Sans TC', serif;
  line-height: 1.5;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width:992px){
  .container{
    max-width: 720px;
  }
}
/* @media (max-width:767px){
  .container{
    max-width: 720px;
  }
} */
/* @media (max-width:576px){
  .container{
    max-width: 372px;
  }
} */
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-block-in{
  display: inline-block;
}
.d-none{
  display: none;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.text-right{
  text-align: right;
}
.text-primary{
  color: #650300;
}
.text-color{
  color: #fff;
}
.font-blod{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.bg-primary{
  background-color: #AA0601;
}
.bg-secondary{
  background-color: #FBF2F2;
}
.text-center{
  text-align: center;
}
.fz-1{
  font-size: 14px;
}
.fz-2{
  font-size: 16px;
}
.fz-3{
  font-size: 20px;
}
.fz-4{
  font-size: 24px;
}
.fz-5{
  font-size: 36px;
}
.fz-6{
  font-size: 48px;
}
.fz-7{
  font-size: 64px;
}
.logo{
  margin-right: auto;
}
.logo img{
  width: 80px;
}
.banner{
  background-image: url(../img/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
}
@media (max-width:992px){
  .banner{
    background-image: url(../img/home-header-sm.png);
  }
}
@media (max-width:576px){
  .banner{
    height: 396px;
  }
}
.feature ul{
  margin-left: -12px;
  margin-right: -12px;
}
.feature li{
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}
@media (max-width:992px){
  .feature li{
    width: 50%;
  }
}
@media (max-width:576px){
  .feature li{
    width: 100%;
  }
}
.feature img{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.classic ul{
  margin-left: -12px;
  margin-right: -12px;
}
.classic li{
  width: 33.3333%;
  padding-right: 12px;
  padding-left: 12px;
}
@media (max-width:992px){
  .classic li{
    width: 50%;
  }
}
@media (max-width:767px){
  .classic li{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:576px){
  .classic li{
    width: 100%;
  }
}
.footer .content{
  border-bottom: 1px solid #fff;
}
.social{
  margin-left: auto;
}
.social img{
  width: 48px;
}
@media (max-width:992px){
  .social img{
    width: 40px;
  }
}
@media (max-width:767px){
  .social img{
    width: 24px;
  }
}
.privacy{
  margin-left: auto;
}
.buyBtn{
  padding-top: 6px;
  padding-bottom: 6px;
}
.pt-0{
  padding-top: 0;
}
.pb-0{
  padding-bottom: 0;
}
.mr-0{
  margin-right: 0;
}
.mb-1{
  margin-bottom: 4px;
}
.mb-2{
  margin-bottom: 8px;
}
.mb-4{
  margin-bottom: 16px;
}
.mr-4{
  margin-right: 16px;
}
.mb-6{
  margin-bottom: 24px;
}
.mb-8{
  margin-bottom: 32px;
}
.mr-8{
  margin-right: 32px;
}
.mb-12{
  margin-bottom: 48px;
}
.mr-12{
  margin-right: 48px;
}
.mr-16{
  margin-right: 64px;
}
.pr-3{
  padding-right: 12px;
}
.pl-3{
  padding-left: 12px;
}
.pt-6{
  padding-top: 24px;
}
.pb-6{
  padding-bottom: 24px;
}
.pt-12{
  padding-top: 48px;
}
.pt-3{
  padding-top: 12px;
}
.pb-3{
  padding-bottom: 12px;
}
.pt-4{
  padding-top: 16px;
}
.pb-4{
  padding-bottom: 16px;
}
.pt-8{
  padding-top: 32px;
}
.pb-8{
  padding-bottom: 32px;
}
.pt-20{
  padding-top: 80px;
}
.pb-20{
  padding-bottom: 80px;
}

@media (max-width: 992px){
  .mr-md-4{
    margin-right: 16px;
  }
  .mb-md-6{
    margin-bottom: 24px;
  }
  .pt-md-2{
    padding-top: 8px;
  }
  .pb-md-2{
    padding-bottom: 8px;
  }
}
@media (max-width: 767px){
  .w-sm-50{
    width: 50%;
  }
  .w-sm-100{
    width: 100%;
  }
  .flex-sm-wrap{
    flex-wrap: wrap;
  }
  .flex-sm-column{
    flex-direction: column;
  }
  .align-items-sm-start{
    align-items: flex-start;
  }
  .d-sm-block{
    display: block;
  }
  .text-sm-center{
    text-align: center;
  }
  .d-sm-none{
    display: none;
  }
  .fz-sm-1{
    font-size: 14px;
  }
  .fz-sm-2{
    font-size: 16px;
  }
  .fz-sm-3{
    font-size: 20px;
  }
  .fz-sm-4{
    font-size: 24px;
  }
  .fz-sm-5{
    font-size: 36px;
  }
  .fz-sm-6{
    font-size: 48px;
  }
  .mr-sm-0{
    margin-right: 0;
  }
  .ml-sm-0{
    margin-left: 0;
  }
  .mb-sm-2{
    margin-bottom: 8px;
  }
  .mr-sm-2{
    margin-right: 8px;
  }
  .mb-sm-6{
    margin-bottom: 24px;
  }
  .pt-sm-6{
    padding-top: 24px;
  }
  .pb-sm-6{
    padding-bottom: 24px;
  }
  .pt-sm-0{
    padding-top: 0;
  }
  .pt-sm-10{
    padding-top: 40px;
  }
  .pb-sm-10{
    padding-bottom: 40px;
  }
  .pb-sm-0{
    padding-bottom: 0;
  }
  .border-1 {
    border: 1px solid #fff;
  }
  .nav{
    margin-right: -12px;
    margin-left: -12px;
  }
}
@media (max-width: 576px){
  .fz-xs-1{
    font-size: 16px;
  }
  .fz-xs-4{
    font-size: 24px;
  }
  .mb-xs-6{
    margin-bottom: 24px;
  }
}